# Package Files #
*.jar

#Errai related
.forge_settings
.errai

#GWT related
src/main/webapp/pl.org.epf.TristarEye/
src/main/webapp/WEB-INF/deploy/
src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/classes/
src/main/gwt-unitCache/
.gwt/

#IDEA related
/.idea/*
*.iml

#Eclipse related
.project
*.launch
.settings/
.classpath

#other
target/
#src/main/webapp/bower_components