[project]
	description = The mobile app that helps to check current Tricity traffic status.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marcin Szałomski (baldram)
	read = group tristar-devs
[access "refs/for/refs/*"]
	read = group tristar-devs
	push = group tristar-devs
	label-Code-Review = -2..+2 group tristar-devs
	label-Verified = -1..+1 group tristar-devs
	rebase = group tristar-devs
	removeReviewer = group tristar-devs
	submit = group user/Marcin Szałomski (baldram)
[access "refs/heads/*"]
	read = group tristar-devs
	create = group user/Marcin Szałomski (baldram)
	push = +force group user/Marcin Szałomski (baldram)
	pushMerge = group user/Marcin Szałomski (baldram)
	label-Code-Review = -2..+2 group tristar-devs
	label-Verified = -1..+1 group tristar-devs
[access "refs/tags/*"]
	push = +force group user/Marcin Szałomski (baldram)
	pushTag = group user/Marcin Szałomski (baldram)
	pushSignedTag = group user/Marcin Szałomski (baldram)
