[project]
	description = The mobile app that helps to check current Tricity traffic status.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marcin Szałomski (baldram)
[access "refs/for/refs/*"]
	read = group user/Marcin Szałomski (baldram)
	push = group user/Marcin Szałomski (baldram)
	label-Code-Review = -2..+2 group user/Marcin Szałomski (baldram)
	#label-Verified = -1..+1 group user/Marcin Szałomski (baldram)
	rebase = group user/Marcin Szałomski (baldram)
	removeReviewer = group user/Marcin Szałomski (baldram)
	submit = group user/Marcin Szałomski (baldram)
[access "refs/heads/*"]
	read = group user/Marcin Szałomski (baldram)
	create = group user/Marcin Szałomski (baldram)
	push = +force group user/Marcin Szałomski (baldram)
	pushMerge = group user/Marcin Szałomski (baldram)
[access "refs/tags/*"]
	push = +force group user/Marcin Szałomski (baldram)
	pushTag = group user/Marcin Szałomski (baldram)
	pushSignedTag = group user/Marcin Szałomski (baldram)
