.text-centered { text-align: center; }
.text-content { padding: 2em; }
.content-icon { width: 10%; }
.content-std-image { height: 30%; padding: 2em; }
.text-how-to { max-width: 320px; margin-right: auto; margin-left: auto; }