<!DOCTYPE html>
<div id="favouritesRoot">
    <style>
        #favouritesRoot {
            padding: 10px;
        }
        .box {
            display: inline-block;
            width: 100px;
            height: 100px;
            margin: 16px;
        }
    </style>
    <div style="border: 1px dotted silver; -webkit-user-select: none;" touch-action="none">

        <core-drag-drop></core-drag-drop>

        <div class="box" style="background-color: lightblue;" draggable="false"></div>

        <div class="box" style="background-color: orange;" draggable="false"></div>

        <div class="box" style="background-color: lightgreen;" draggable="false"></div>

        <div id="hello">TODO: Here will be the list of images (camera views)</div>

    </div>
</div>