<!DOCTYPE html>
<div id="favouritesRoot">
    <style>
        #favouritesRoot {
            padding: 10px;
        }
        .box {
            display: inline-block;
            width: 100px;
            height: 100px;
            margin: 16px;
        }
    </style>
    <div>

        <div class="box" style="background-color: lightblue;"></div>

        <div class="box" style="background-color: orange;"></div>

        <div class="box" style="background-color: lightgreen;"></div>

        <div id="hello">TODO: Here will be the list of images (camera views)</div>

    </div>
</div>