<!DOCTYPE html>
<div id="favouritesRoot">
    <div id="favouritesPlaceholder" style="margin:0 auto;display:none;">
    </div>

    <button id="refreshButton" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored tristar-fab">
        <i class="material-icons">refresh</i>
    </button>

    <button id="moreButton" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored tristar-fab2">
        <i class="material-icons">more_vert</i>
    </button>
    <div class="moreButtonMenuContainer" >
        <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="moreButton">
            <li disabled class="mdl-menu__item">Usuń wszystkie</li>
            <li disabled class="mdl-menu__item">Przywróć domyślne</li>
            <li disabled class="mdl-menu__item">Zmień kolejność</li>
        </ul>
    </div>
</div>