<!DOCTYPE html>
<div id="howToRoot" class="text-centered text-content text-how-to">
    <div class="typo-styles__demo mdl-typography--headline">Proszę wybrać kamery</div>
    <br />
    <div class="styles__content">
        Proszę wybrać <strong>na mapie</strong> kamery, z których obraz będzie tutaj wyświetlany.
        <img src="./images/hand.png" class="content-icon"/>
        W tym celu <strong>przytrzymaj dłużej palcem</strong> wybraną <strong>kamerę</strong> - zostanie oznaczona żółtym punktem.<br />
    </div>
    <img src="./images/select-cams.png" class="content-std-image"/>

    <button id="goToMapButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Przejdź do mapy
    </button>
    <br /><br />Możesz zawsze użyć funkcji "Usuń wszystkie" z rozwijanego menu po lewej i zacząć dodawanie kamer od nowa.

</div>