body {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    font-size: 1.0em;
    font-weight: 300;
    color: #333;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    background-image: linear-gradient(to right top, transparent 33%, black 33%, black 66%, transparent 66%);
    background-size: 3px 3px;
    background-color: #666;
}
section {
    margin: 10px;
}
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
    padding-right: 0;
}
.mdl-layout__tab {
    font-weight: 400;
}
.mdl-layout__header, .mdl-layout__tab-bar, .mdl-switch.is-checked .mdl-switch__thumb {
    background-color: #526e9c;
}
.tristar-drawer-header {
    background-color: rgb(79, 125, 201);
    color: #fff;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}
.tristar-drawer-header .mdl-layout-title {
    font-weight: 300;
}
.mdl-layout__drawer {
    border-right: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.mdl-layout__content {
    background-color: #fff;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
    background: yellow;
}

#mapContainer {
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    position: absolute;
}

.tristar-fab {
    position: fixed;
    right: 0;
    margin-right: 0.8em;
    margin-bottom: 0.8em;
}
.tristar-fab {
    bottom: 0;
}

.mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
    margin-right: 12px;
}
.tristar-context-options-disabled {
    color: lightgray;
}
img.tristarModalImage {
    max-width: 100%;
    height: auto;
    max-height: 288px;
}

#orrsDiag {
    text-align: center;
}

/** gmaps **/
.gmnoprint {
    visibility: hidden;
}

/* @media screen and (max-width: 320px) { */
/*.ug-textpanel-title.ug-trans-enabled {}*/
/*.ug-tile .ug-textpanel-title { TODO: set media responsive font-size and line-height here }*/
/* } */

.text-centered { text-align: center; }
.text-content { padding: 2em; }
.content-icon { width: 10%; }
.content-std-image { height: 30%; padding: 2em; }
.menu-option { cursor: pointer; }