body {
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.0em;
    font-weight: 300;
    margin: 0;
    padding: 1.6em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

/**/

div.app-header {
    height: 48px;
    margin: 0;
}

div.app-title {
    font-weight: 400;
}
#selectionBar {
    background-color: red;
}

/**/

#core_header_panel {
    background-color: rgb(255, 255, 255);
}
#core_toolbar {
    color: rgb(255, 255, 255);
    background-color: rgb(79, 125, 201);
    height: 64px;
}

#maps-container {
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    position: absolute;
}
