/*REMOVE?*//*
section {
    margin: 10px;
}
*/

/*REMOVE*//*
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
    padding-right: 0;
}
.mdl-layout__tab {
    font-weight: 400;
}
.mdl-layout__header, .mdl-layout__tab-bar, .mdl-switch.is-checked .mdl-switch__thumb {
    background-color: #526e9c;
}
.tristar-drawer-header {
    background-color: rgb(79, 125, 201);
    color: #fff;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}
.tristar-drawer-header .mdl-layout-title {
    font-weight: 300;
}
.mdl-layout__drawer {
    border-right: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.mdl-layout__content {
    background-color: #fff;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
    background: yellow;
}
*/

#mapContainer {
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    position: absolute;
}

/*REMOVE*//*
.mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
    margin-right: 12px;
}


.tristar-context-options-disabled {
    color: lightgray;
}
*/

img.tristarModalImage {
    max-width: 100%;
    height: auto;
    max-height: 288px;
}
.btnFavouritesAdd {
    margin-left: 17px;
}
.modal-content {
    text-align: center;
}

/** gmaps **/
.gmnoprint {
    visibility: hidden;
}

/* @media screen and (max-width: 320px) { */
/*.ug-textpanel-title.ug-trans-enabled {}*/
/*.ug-tile .ug-textpanel-title { TODO: set media responsive font-size and line-height here }*/
/* } */

#navDesktop > li > a.active {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(13, 71, 161, 0.5) );
}
#navMobile > li > a.active {
    background-color: #DDDDDD;
}