<!DOCTYPE html>
<div data-field="drawerMain" main>

    <paper-toolbar>
        <paper-icon-button icon="menu" style="color: white;" paper-drawer-toggle></paper-icon-button>
        <div class="title">Tristar Eye</div>
        <div class="flex"></div>
        <!--paper-input id="search" label="Search">
              <paper-icon-button icon="search" prefix></paper-icon-button>
          <paper-icon-button suffix icon="clear"></paper-icon-button>
        </paper-input-->
        <paper-icon-button suffix icon="more-vert"></paper-icon-button>
        <div class="flex"></div>
    </paper-toolbar>

    <div id="topNavigationPanel"></div>

    <div id="content"></div>

</div>