<!DOCTYPE html>
<html>
<body>
    <div data-field="sidebar" class="mdl-layout__drawer">
        <div class="tristar-drawer-header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Opcje</span>
            </div>
            <div class="mdl-layout__tab-bar-container"></div>
        </div>
        <section>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="mapTypeToggle">
                <input type="checkbox" id="mapTypeToggle" class="mdl-switch__input" />
                <span class="mdl-switch__label">Mapa / Schemat</span>
            </label>
        </section>
    </div>
</body>
</html>
