<!DOCTYPE html>
<div>
    <core-header-panel id="sidebar" navigation="" flex="" mode="waterfall-tall">

        <core-toolbar id="core_toolbar" class="app-toolbar medium tall animate">
            <div>Szukaj</div>
        </core-toolbar>

        <core-menu valueattr="label" id="core_menu" theme="core-light-theme">
            <section class="bottom fit search">
                <paper-input-decorator id="searchLocation" label="Określ lokalizację" floatinglabel="" error="" autovalidate="" layout="" vertical="">
                    <input type="text" class="gwt-TextBox" id="searchBox" is="core-input" required="" placeholder="Podaj lokalizację" aria-label="Podaj lokalizację" autocomplete="off">
                </paper-input-decorator>
            </section>
        </core-menu>

        <div center horizontal layout>
            <div flex>Mapa / Schemat</div>
            <paper-toggle-button id="mapTypeToggle" class="mapType"></paper-toggle-button>
        </div>
    </core-header-panel>

</div>
