<!DOCTYPE html>
<div id="topNavigationPanel">
    <paper-tabs selected="0">
        <paper-tab id="mapTab">
            <paper-icon-button id="mapButton" icon="question-answer" title="mapa"></paper-icon-button>
        </paper-tab>
        <paper-tab id="favouritesTab">
            <paper-icon-button id="favouritesButton" icon="favorite" title="ulubione"></paper-icon-button>
        </paper-tab>
        <paper-tab id="mapList">
            <paper-icon-button id="listButton" icon="list" title="lista"></paper-icon-button>
        </paper-tab>
    </paper-tabs>
</div>