<header data-field="header" class="fixed">
    <nav class="blue darken-4 navbar-fixed" role="navigation">
        <div data-field="navWrapper" class="nav-wrapper container"><span class="brand-logo">Tristar Eye <span class="title-beta-info">(beta2)</span></span>
            <ul id="navDesktop" class="right"></ul>
            <ul id="navMobile" class="side-nav"></ul>
            <a href="#" data-activates="navMobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <nav data-field="searchBar" class="white navbar-fixed" style="z-index: 999;"></nav>
</header>